[Unit]
Description=BlazeServe Socket Activation
PartOf=blazeserve.service

[Socket]
ListenStream=8080
Backlog=8192
ReusePort=true

[Install]
WantedBy=sockets.target
